@font-face {
  font-family: chiller;
  src: url(fonts/CHILLER.TTF);
}

html * {
  font-family: "Libre Baskerville", serif;
}

.font-chiller {
  font-family: "chiller", "Libre Baskerville", serif;
  font-size: 2.2em;
}

body {
  background-color: black !important;
  overflow-x: hidden;
}

a {
  color: #7cbbff;
}

.btn-primary {
  background: #00000000;
  border-color: #00000000;
}
.btn-primary:hover {
  background: #000000;
  border-color: #000000;
}

.gallerie-image-container {
  display: flex;
}

.image-scroll-button {
  height: 100%;
  background-color: #00000000 !important;
  border-color: #00000000 !important;
  font-size: 6em !important;
  outline: none !important;
  box-shadow: none;
}

.image-scroll-button:hover,
.image-scroll-button:active,
.image-scroll-button:focus {
  background-color: #00000000;
  border-color: #00000000;
  outline: none !important;
  box-shadow: none;
}

.gallerie-nomad-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  max-width: calc(100% - 120px);
}

.gallerie-nomad-carousel > img {
  height: 500px;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.img-item {
  filter: brightness(100%);
  transition: all 0.2s;
}

.img-item:hover {
  filter: brightness(100%);
}

.unfocus-item {
  filter: brightness(50%);
}

.gallerie-nomad-carousel > img:nth-child(1) {
  margin-left: 1em;
}

.contact-info,
.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 82px;
}

@media screen and (max-width: 1110px) {
  .contact-info,
  .profile-card {
    flex-direction: column-reverse;
  }

  .gallerie-about-us-grid-container {
    display: block !important;
  }

  .header-logo {
    height: 52px;
  }
}

.contact-info > div {
  margin: 2em;
}

@media screen and (max-width: 1110px) {
  .contact-info > div {
    margin: 1em;
  }
  .other-contact-info {
    width: 100% !important;
    margin: 1em;
  }
  .header-logo {
    height: 52px;
  }
}

.gallerie-about-us-container {
  margin: 1em;
}

.gallerie-about-us-container * > img {
  margin-right: 1em;
  max-height: 200px;
  border-radius: 15px;
  padding: 10px;
  object-fit: cover;
  max-width: 200px;
}

.bg-black {
  background-color: black;
}

.gallerie-profile-card-container {
  margin: 1em;
}

.gallerie-about-us-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.profile-card {
  padding: 1em;
  justify-content: start;
  border-radius: 5px;
}

.profile-gallery-container {
  overflow-y: hidden;
  transition: all 0.5s;
}
.profile-gallery-container > a {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.profile-gallery {
  display: grid;
  justify-items: center;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}
.profile-gallery > img {
  padding: 10px;
  object-fit: cover;
  cursor: pointer;
}

img.bio-instagram-link {
  width: 1.5em;
  height: 1.5em;
  filter: invert(1) hue-rotate(87deg) saturate(3);
}

.gallerie-nomad-modal {
  position: fixed;
  left: 5%;
  top: 95px;
  max-width: calc(90%);
  height: calc(100% - 105px);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0 0 0 / 0%) 100%
  );
  padding: 20px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.modal-background {
  background: #000000aa;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.gallerie-nomad-modal-close-button {
  float: right;
  color: white;
  background: #000000;
  border: #00000000;
  font-size: 2em !important;
  width: 60px;
  margin-bottom: -60px;
  margin-right: -5px;
  transform: scale(1);
  border-radius: 0px 0px 0px 30px;
}

.gallerie-nomad-modal > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

p {
  margin-bottom: 0px;
}

p:empty {
  margin: 1em;
}

.other-contact-info {
  width: calc(100% - 200px);
  min-width: 300px;
  max-width: 600px;
}

.group-nav-items {
  display: flex;
}

.group-nav-items img {
  margin: 0px 5px 0px 0px;
  height: 1.5em;
  width: 2em;

  filter: invert(48%) sepia(79%) saturate(350%) hue-rotate(86deg)
    brightness(100%) contrast(119%);
}

@media (max-width: 990px) {
  html * {
    font-size: 1.05em !important; /* Adjust as needed */
  }
  .font-chiller {
    font-size: 2.05em !important; /* Adjust as needed */
  }
}

.primary-contact-info {
  width: 650px;
  height: 450px;
  max-width: 100% !important;
}

iframe {
  max-width: calc(100% - 40px);
  margin: 0px 0px 0px 20px;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28a745;
}
