html * {
  font-family: 'Libre Baskerville', serif;
}

body {
  background-color: black!important;
}

.gallarie-image-conatinaer {
  display: flex;
}

.image-scroll-button {
  height: 100%;
  background-color: #00000000 !important;
  border-color: #00000000 !important;
  font-size: 6em;
  outline: none !important;
  box-shadow: none;
}

.image-scroll-button:hover, .image-scroll-button:active, .image-scroll-button:focus {
  background-color: #00000000;
  border-color: #00000000;
  outline: none !important;
  box-shadow: none;
}

.gallarie-nomad-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.gallarie-nomad-carousel > img {
  height: 500px;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.gallarie-nomad-carousel > img:nth-child(1) {
  margin-left: 1em;
}

.contact-info, .profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1110px) {
  .contact-info, .profile-card {
    flex-direction: column-reverse;
  }

  .gallarie-about-us-grid-container {
    display: block !important;
  }
}

.contact-info > div {
  margin: 2em;
}

.gallarie-about-us-container {
  margin: 1em;
}

.gallarie-about-us-container * >  img {
  margin-right: 1em;
  height: 200px;
  filter: grayscale(100%);
  border-radius: 15px;
  padding: 10px;
}

.bg-black {
  background-color: black;
}

.gallerie-profile-card-container {
  margin: 1em;
}

.gallarie-about-us-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.profile-card {
  padding: 0px;
  padding-right: 1em;
  justify-content: start;
  border-radius: 5px;
}

p {
  margin-bottom: 0px;
}

p:empty {
  margin: 1em;
}

.other-contact-info {
  width: calc(100% - 200px);
  min-width: 300px;
  max-width: 600px;
}

.group-nav-items {
  display: flex;
}

.group-nav-items img {
  margin: 0px 5px 0px 0px;
  height: 1.5em;
  width: 2em;

  filter: invert(48%) sepia(79%) saturate(350%) hue-rotate(86deg) brightness(100%) contrast(119%);
}

@media (max-width: 990px) {
  html * {
    font-size: 1.05em!important; /* Adjust as needed */
  }
}
